body {
    background-image: url(back.jpg);
}

#header {
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    color: #ffffff;
    text-align: center;
    display: block;
    margin-top: 0.5em;
}

#header1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 70px;
    color: #ffffff;
    margin-left: 4.5em;
    display: block;
    margin-top: 2em;
    position: absolute;
    opacity: 1;
}

#input-l {
    text-align: center;
    margin-top: 1em;
    margin-left: -4em;
}

#collection {
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 3em;
    display: block;
    width: 80%;
    margin-bottom: 3em;
    border-radius: 10px;
    overflow-y: auto;
}

.link-item {
    display: block;
    margin: 1.7em;
    float: left;
    font-size: 20px;
    background-color: #D3D3D3;
    border-radius: 3px;
    width: 200px;
    height: 100px;
    padding: 10px;
    overflow: hidden;
}

.butl {
    float: right;
    margin-top: -1em;
    cursor: pointer;
    display: inline-block;
}
.butl:hover
{
    color: red;
    transform: scale(1.1);
    transition: all 0.25s;
}
.add {
    position: absolute;
    margin-top: -5.45em;
    margin-left: 54em;
}

.disable {
    visibility: hidden;
}
.git
{
    margin-top: 0.5em;
    margin-left: 1em;
    position: absolute;
}
a
{
    color: #ffffff;
}
a:hover
{
    color: #ffffff;
    transform: scale(1.1);
    transition: all 0.25s;
}
a:visited
{
    color: #ffffff;
}
a:active
{
    color: #ffffff;
}



