doctype html
html
      head
            title LinkSaver
      body
            p.
               Hello World!
               This is my first jade file!
            div.LinkSaver.
                        You can add links and delete them.
                        All the links saves in local storage


