doctype html
html
      head
            title LinkSaver
            style
                    include js/lib/bootstrap/dist/css/bootstrap.css
                    include css/style.min.css
                    include js/lib/fontawesome/css/font-awesome.min.css
            script(src="js/main1.min.js")
      body(background="css/back.jpg" background-attachment="fixed")
            div(class="content")
                    a(href="https://github.com/mohsom/LinkSaver" class="linkG")
                            i(class="fa fa-4x fa-github git")
                    div#header.
                                LinkSaver
                    div.link-count
                    form(class="form-inline" role="form" id="input-l")
                            div(class="form-group")
                                div(class="input-group")
                                        div.input-group-addon.
                                            Title
                                        input(type="text" class="form-control" id="title" placeholder="Enter title of the link" tabindex="1")
                                div(class="input-group")
                                    div.input-group-addon.
                                        HREF
                                    input(type="text" class="form-control" id="title" placeholder="Enter link address" tabindex="2")
                                    div(class="btn btn-default add" tabindex="3").
                                                                            Add
                                i(class="fa fa-refresh delete-all fa-4x" data-toggle="tooltip" data-placement="right" title="Click to delete all links")
                                i(class="fa fa-chevron-circle-up fa-4x totop")
                                div#collection
                                script(type="text/template" id="link-template")
                                    div.block-link
                                    div.link-item-title.
                                                <%=title%>
                                    a(href="http://<%=href%>" target="_blank" tabindex="-5").
                                                                    <%=href%>
                                    i(class="fa fa-times butl")
                                    i(class="fa fa-pencil change-title")
                                script(type="text/template" id="link-counter").
                                                                    <div class="link-count">
                                                                    <%if(length!=0){%>
                                                                    <%=length%> <%if(length!=1)%>links<%else%>link
                                                                    <%}else%>No links
                                                                    </div>
                                div(id="header1" class="").
                                         Add some links:)
