doctype html
html
      head
            title LinkSaver
      body
            div(class="content")
                    a(href="https://github.com/mohsom/LinkSaver" class="linkG")
                            i(class="fa fa-4x fa-github git")
                    div#header.
                                LinkSaver
                    div.link-count
                    form(class="form-inline" role="form" id="input-l")


